:root {
  --color-white-primary: #f5f0ea;
  --color-white-secondary: #d9d2cb;
  --color-black-primary: #211c1d;
  --color-blue-dark: #7f95ab;
  --color-blue-primary: #b5c8da;
  --color-blue-light: #d7e4ef;
  --color-red-dark: #433ba6;
  --color-red-primary: #554bc2;
  --color-red-light: #ece9ff;
  --color-grey-dark: #8b8580;
  --color-grey-primary: #b9b1ab;
  --color-grey-light: #d7d0c9;
  --color-green: #78b286;
  --color-green-dark: #4f8f5f;
  --color-green-light: #e5f2e7;
  --color-transparent: transparent;

  --font-family-default: "Poppins", "Segoe UI", sans-serif;
  --font-family-title: "Poppins", "Segoe UI", sans-serif;
}