@using Portifolio.Components.Layout.ContactMain
@using Portifolio.Components.Layout.FooterMain
@using Portifolio.Components.Layout.HeaderMain
@using Portifolio.Components.Layout.Settings
@inject SiteUiState UiState
@implements IDisposable
@inherits LayoutComponentBase

<CascadingValue Value="UiState">
    <div class="portfolio-shell @ThemeClass">
        <div class="portfolio-panel">
            <HeaderMain/>
            <main>
                @Body
            </main>
            <FooterMain/>
        </div>
    </div>
    <div class="main-layout-buttons">
        <ContactMain/>
        <Settings/>
    </div>
</CascadingValue>